body {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.error {
    color: #f00;
    background-color: #ffbbbb;
    padding: 5px;
    border: 1px solid #f00;
}
.conf {
    color: #0f0;
    background-color: #bbffbb;
    padding: 5px;
    border: 1px solid #0f0;
}
.aa {
    color: #000;
    background-color: #aaa;
    padding: 5px;
    margin: 10px;
    border: 1px solid #aaa;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ddd;
}